

h1 {
  font-size: 100px;
  text-align: center;
  margin: 50px;
}

li {
  width: 250px;
  height: 250px;
  text-align: center;
  display: inline-block;
} 

img {
  vertical-align: middle;
  width: 150px;
}

#shopping {
  text-align: center;
}

#canvasChart {
  margin: auto;
  display: block; 
}