html {
  background-color: blanchedalmond;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
  margin: 20px;
  text-align: center;
}

h1 {
  font-size: 100px;
  text-align: center;
  margin: 50px;
}

li {
  width: 250px;
  height: 250px;
  text-align: center;
  display: inline-block;
} 

img {
  vertical-align: middle;
  width: 150px;
}

#shopping {
  text-align: center;
}

#canvasChart {
  margin: auto;
  display: block; 
}


.busWrapper {
  overflow: hidden;
}

.sliding-background {
  background: url(/images/Webp.net-resizeimage.png) repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }

  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}